{% extends 'main/base.html' %}
{% block title %}Supplier - Mama's Mart{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Suppliers</h1>
    {% if suppliers %}
    <div class="table-responsive">
        <table class="table align-middle table-hover">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Person</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <td>{{ forloop.counter|stringformat:"02d" }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.contact_person }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.active|yesno:"Yes,No" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No suppliers found.</p>
    {% endif %}
</div>
{% endblock %}
